[submodule "Part2/04/scaling-exercise"]
	path = Part2/04/scaling-exercise
	url = https://github.com/docker-hy/scaling-exercise.git
[submodule "Part2/07/ml-kurkkumopo-backend"]
	path = Part2/07/ml-kurkkumopo-backend
	url = https://github.com/docker-hy/ml-kurkkumopo-backend.git
[submodule "Part2/07/ml-kurkkumopo-frontend"]
	path = Part2/07/ml-kurkkumopo-frontend
	url = https://github.com/docker-hy/ml-kurkkumopo-frontend.git
[submodule "Part2/07/ml-kurkkumopo-training"]
	path = Part2/07/ml-kurkkumopo-training
	url = https://github.com/docker-hy/ml-kurkkumopo-training.git
